# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
/android
/ios

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
.env
.env.local

# TypeScript
*.tsbuildinfo

# IDE
.idea/
